@namespace PaylKoyn.Web.Components.Common
@using PaylKoyn.Web.Services

<header class="!py-5 w-full !z-400">
    <div class="container mx-auto flex justify-between items-center w-full !px-2">
        <MudLink 
            Href="/"
            class="hidden w-45 sm:block lg:w-72">
            <MudImage Src="/images/payl_logo.svg" Alt="payl logo"/>
        </MudLink>
        <MudLink 
            Href="/"
            class="sm:hidden">
            <MudImage Src="/images/payl_logo_mobile.svg" Alt="payl logo"/>
        </MudLink>
        <div class="flex gap-4 items-center sm:!gap-4 lg:!gap-8">
            <MudLink 
                href="/buy"
                Class="flex-col items-center justify-center group !pb-2 !hidden md:!flex"
            >
                <MudImage
                    Alt="crown"
                    Src="/images/crown.webp"
                    Class="!w-7 group-hover:-translate-y-2 group-active:-translate-y-0"
                />
                <MudImage
                    Alt="get your payls now text"
                    Src="/images/get_your_payls_now_default.svg"
                    Class="group-hover:content-[url('/images/get_your_payls_now_hover.svg')] group-active:content-[url('/images/get_your_payls_now_active.svg')] !w-58"
                />
            </MudLink>
            <MudLink 
                href="/buy"
                Class="!p-0 md:!hidden"
            >
                <MudImage
                    Alt="get you payls mobile"
                    Src="/images/get_your_payls_now_default_mobile.webp"
                    Class="active:content-[url('/images/get_your_payls_now_active_mobile.webp')] w-12 sm:w-13"
                />
            </MudLink>

            @if(@CurrentUrl == "/")
            {
                <MudButton 
                    Href="/upload"
                    Class="!text-xl !text-[var(--mud-palette-primary)] !rounded-full !uppercase !p-[2px] !animate-rotate-border button-color-gradient !w-full md:!w-47"
                >
                    <div class="!bg-[var(--mud-palette-secondary)] !w-full flex items-center justify-center !text-center rounded-full transition-all duration-150 hover:!bg-[var(--mud-palette-secondary-lighten)] active:!bg-[var(--mud-palette-secondary-darken)] px-3 py-2">
                        <MudText Class="!text-sm sm:!text-xl">
                            <span class="!font-semibold">Launch </span>
                            <span class="!font-bold">$PAYL</span>
                        </MudText>
                    </div>
                </MudButton>
            }
            else
            {
                @if(SelectedWallet is null)
                {
                    <MudButton
                        OnClick="OnWalletConnectClicked" 
                        Class="!text-xl !text-[var(--mud-palette-primary)] !rounded-full !uppercase !p-[2px] !animate-rotate-border button-color-gradient !w-full md:!w-47"
                    >
                        <div class="!bg-[var(--mud-palette-secondary)] !w-full flex items-center justify-center !text-center rounded-full transition-all duration-150 hover:!bg-[var(--mud-palette-secondary-lighten)] active:!bg-[var(--mud-palette-secondary-darken)] px-3 py-2">
                            <MudText Class="!text-sm sm:!text-xl">
                                <span class="!font-semibold">Connect Wallet</span>
                            </MudText>
                        </div>
                    </MudButton>
                }
                else
                {
                    <MudMenu 
                        PopoverClass="max-w-[350px] rounded-md border-2 !border-[var(--mud-palette-gray-dark)] [&_.mud-menu-list]:py-0!"
                    >
                        <ActivatorContent>
                            <div class="!min-w-12 !max-w-12 !h-12 !rounded-full button-profile-gradient !p-[2px]">
                                <div class="!rounded-full overflow-hidden">
                                    <MudImage
                                        Src="/images/nft/nft_payl_koyn_princess.jpg"
                                        Alt="profile image"
                                    />
                                </div>
                            </div>
                        </ActivatorContent>
                        <ChildContent>
                            <MudMenuItem 
                                AutoClose="false"
                                Class="hover:bg-transparent! !border-b !border-[var(--mud-palette-gray-dark)]"
                            >
                                <div class="flex items-center justify-between gap-4">
                                    <div class="!py-[6px] !px-2">
                                        <MudImage
                                            Src="@SelectedWallet.Icon"
                                            Alt="@SelectedWallet.Name"
                                            Class="object-contained w-6 aspect-square"
                                        />
                                    </div>
                                    <MudIconButton 
                                        Icon="@IconService.CopyIcon"
                                        Class="!p-1"
                                    />
                                    <MudButton 
                                        OnClick="OnWalletConnectClicked"
                                        Class="!capitalize !font-semibold hover:!text-[var(--mud-palette-background)]"
                                    >
                                        Switch
                                    </MudButton>
                                </div>
                            </MudMenuItem>
                            <MudMenuItem 
                                AutoClose="false"
                                Class="hover:bg-transparent! !border-b !border-[var(--mud-palette-gray-dark)]"
                            >
                                <div class="bg-[var(--mud-palette-gray-darker)] flex flex-col items-center justify-center !p-2 !rounded-sm">
                                    <MudText Class="!text-xs">
                                        Wallet Balance
                                    </MudText>
                                    <MudText
                                        Class="!font-bold !text-2xl"
                                        Style="font-family: Oxanium;"
                                    >
                                        ₳ 19.97 
                                    </MudText>
                                </div>
                            </MudMenuItem>
                            <MudMenuItem 
                                Href="/gallery"
                                Class="[&_.mud-menu-item-text]:!flex [&_.mud-menu-item-text]:!items-center [&_.mud-menu-item-text]:!justify-center [&_.mud-menu-item-text]:!gap-2 !border-b !border-[var(--mud-palette-gray-dark)] group"
                            >
                                <MudIcon Icon="@IconService.ImageIcon" Class="!text-[var(--mud-palette-dark-darken)] group-hover:!text-[var(--mud-palette-background)]"/>
                                <MudText Class="!text-sm !font-semibold !text-[var(--mud-palette-dark-darken)] group-hover:!text-[var(--mud-palette-background)]">
                                    View Gallery
                                </MudText>
                            </MudMenuItem>
                            <MudMenuItem 
                                OnClick="() => SelectedWallet = null"
                                Class="[&_.mud-menu-item-text]:!flex [&_.mud-menu-item-text]:!items-center [&_.mud-menu-item-text]:!justify-center [&_.mud-menu-item-text]:!gap-2 group"
                            >
                                <MudIcon Icon="@IconService.LogoutIcon" Class="!text-[var(--mud-palette-dark-darken)] group-hover:!text-[var(--mud-palette-error)]"/>
                                <MudText Class="!text-[var(--mud-palette-dark-darken)] !text-sm !font-semibold group-hover:!text-[var(--mud-palette-error)]">
                                    Disconnect Wallet
                                </MudText>
                            </MudMenuItem>
                        </ChildContent>
                    </MudMenu>
                }
            }
        </div>
    </div>
</header>
