@page "/buy"

@namespace PaylKoyn.Web.Components.Pages.Buy

<PageTitle>Buy • PaylKoyn</PageTitle>

<HeadContent>
    <meta name="description" content="PaylKoyn " />
    <meta property="og:title" content="Official Website • PaylKoyn" />
    <meta property="og:type" content="website" />
    <meta property="og:image:alt" content="PaylKoyn website image" />
    <meta property="og:url" content="@OgUrl" />
    <meta property="og:image" content="@OgImageUrl" />
    <meta property="og:description"
        content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore" />
    <meta name="keywords" content="PaylKoyn, file system, nft, meme coin, cardano, file, ipfs" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="@OgUrl" />
    <meta name="twitter:description"
        content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore" />
    <meta name="twitter:site" content="@@paylkoyn" />
    <meta name="twitter:creator" content="@@saib_inc" />
</HeadContent>

<section class="relative !pb-10 xl:!pb-0 xl:h-[calc(100vh-95.805px)]">
    <div class="overflow-hidden">
        <MudImage Src="/images/background.svg" Alt="" class="absolute top-0 left-[-194px] -z-10" />
        <MudImage Src="/images/background.svg" Alt="" class="absolute top-0 right-[-190px] -z-10 scale-x-[-1]" />
    </div>
    <div class="container !px-4 flex flex-col items-center !pt-[40.85px] gap-10 md:gap-14 md:h-full sm:!mx-auto">
        <div class="rounded-3xl !bg-[var(--mud-palette-primary)] w-full max-w-[1327px]">
            <div class="w-full flex flex-col items-center items-stretch !p-4 !gap-4 md:!gap-10 md:!p-10 xl:flex-row">
                <div
                    class="!w-full flex aspect-square !rounded-[12px] overflow-hidden items-center flex-shrink-0 md:!w-full md:!h-[479px] xl:!w-[479px]">
                    <MudImage Src="/images/nft/nft_payl_koyn-caesar.png" Alt="Payl Koyn" Elevation="0" />
                </div>
                <div class="w-full flex flex-col justify-between gap-4 md:gap-auto">
                    <div class="flex justify-between !gap-6 md:!gap-[65px]">
                        <div class="flex flex-col">
                            <div class="flex gap-1 md:gap-2 items-center">
                                <MudText Class="!text-base md:!text-xl text-[var(--mud-palette-secondary)]"
                                    Style="font-family: Inter;">
                                    The Payls
                                </MudText>
                                <MudIcon Icon="@IconService.CheckIcon" Class="!text-base md:!text-2xl" />
                            </div>
                            <div>
                                <MudText Class="!text-[20px] !font-bold md:!text-[40px]" Style="font-family: Inter;">
                                    PAYL KOYN #1042
                                </MudText>
                                <MudText Class="!text-xs md:!text-base" Style="font-family: Inter;">
                                    <span>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                        tempor invidunt ut labore et.
                                    </span>

                                    <span class="hidden md:!block">
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                        tempor invidunt ut labore et.
                                    </span>
                                </MudText>
                            </div>
                        </div>
                        <div class="!w-[126px] aspect-square flex-shrink-0 md:!w-[233px] ">
                            <MudImage Src="/images/qr_sample.webp" Alt="sample qr" />
                        </div>
                    </div>
                    <div class="flex flex-col w-full rounded-[8px]">
                        <div
                            class="!rounded-t-[8px] !bg-[var(--mud-palette-gray-darker)] !border-1 !border-[var(--mud-palette-gray-dark)] !border-b-0 !py-3 !pl-6 md:!pl-3">
                            <MudText Class="!font-semibold !text-base md:!text-2xl" Style="font-family: Inter;">
                                Current Price
                            </MudText>
                        </div>
                        <div
                            class="!rounded-b-[8px] !border-1 !border-solid !border-[var(--mud-palette-gray-dark)] !pt-4 !pb-[12.73px] !pl-3 !pr-[13px] md:!pl-[26px] md:!pr-6 md:!pt-[25px] md:!pb-6">
                            <div class="flex justify-between pb-4 md:pb-6">
                                <div class="flex gap-[3.67px] md:gap-[22px]">
                                    <MudIcon Icon="@IconService.PaylIcon" Class="!text-[24px] md:!text-[40px]">
                                    </MudIcon>
                                    <MudText Class="self-center !text-2xl md:!text-[40px] !font-bold"
                                        Style="font-family: Oxanium;">
                                        250.50
                                    </MudText>
                                </div>
                                <div class="flex items-center">
                                    <MudText Class="!text-[var(--mud-palette-text-secondary)]"
                                        Style="font-family: Inter;">≈$1223.20</MudText>
                                </div>
                            </div>
                            <div class="flex justify-center">
                                <MudButton
                                    Class="button-profile-gradient !p-[2px] !rounded-full !w-full !h-[34px] mx-auto md:!h-12">
                                    <div
                                        class="!bg-[var(--mud-palette-secondary)] w-full !h-[32px] flex items-center justify-center !rounded-full md:!h-11">
                                        <MudImage Src="/images/buy_now.svg" Alt="Buy now" />
                                    </div>
                                </MudButton>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="max-w-[1327px] flex flex-col gap-6 md:!gap-10 md:mx-0">
            <MudText
                Class="!text-left !text-white !capitalize !font-bold !text-[32px] md:!leading-[72px] lg:!text-[40px]"
                Style="font-family: Oxanium;">
                <span>What is </span>
                <span class="!font-extrabold">PAYL KOYN?</span>
            </MudText>
            <MudText
                Class="!text-left !text-white opacity-60 !text-base !leading-[26px] md:!text-[22px] md:!leading-[36px]"
                Style="font-family: Inter;">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna
                aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
                nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua dolore magna aliquyam erat, sed diam
                voluptua.
            </MudText>
        </div>
    </div>
</section>
<section class="relative h- !bg-[var(--mud-palette-primary)] pt-8 !pb-[47.97px] md:pt-20 md:h-[353.013px]">
    <div class="container mx-auto px-2 xl:px-0">
        <MudPaper Elevation="0"
            Class="w-full !h-40 !p-4 mx-auto flex items-center justify-center !gap-12 !rounded-3xl !bg-[var(--mud-palette-secondary)]/10 md:!p-6 md:mt-20 md:w-full md:!h-63">
            <div class="w-full !h-full flex items-center overflow-x-auto !gap-4 sm:h-[61.25px] sm:!gap-[23.5px]">
                @for(int x=0; x < 8; x++)
                {
                    <div class="!h-32 aspect-square md:!h-50 flex-shrink-0 !rounded-[12px] md:!rounded-[4px] !overflow-hidden">
                        <img src="/images/nft/nft_payl_koyn_princess.jpg" alt="Payl Princess"/>
                    </div>
                }
            </div>
        </MudPaper>
    </div>
</section>