@page "/upload"

@namespace PaylKoyn.Web.Components.Pages

<PageTitle>Upload • PaylKoyn</PageTitle>

<HeadContent>
    <meta name="description"
        content="PaylKoyn " />
    <meta property="og:title" content="Official Website • PaylKoyn" />
    <meta property="og:type" content="website" />
    <meta property="og:image:alt" content="PaylKoyn website image" />
    <meta property="og:url" content="@OgUrl" />
    <meta property="og:image" content="@OgImageUrl" />
    <meta property="og:description"
        content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore" />
    <meta name="keywords"
        content="PaylKoyn, file system, nft, meme coin, cardano, file, ipfs" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="@OgUrl" />
    <meta name="twitter:description"
        content="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore" />
    <meta name="twitter:site" content="@@paylkoyn" />
    <meta name="twitter:creator" content="@@saib_inc" />
</HeadContent>

<section class="relative h-[calc(100vh-207.85px)] max-lg:hidden">
    <div>
        <MudImage Src="/images/background.svg" Alt="" class="absolute top-0 left-[-194px] -z-10" />
        <MudImage Src="/images/background.svg" Alt="" class="absolute top-0 right-[-190px] -z-10 scale-x-[-1]"/>
    </div>
    <div class="container h-full mx-auto flex flex-col items-center justify-evenly">
        <div class="rounded-3xl !bg-[var(--mud-palette-primary)] w-full max-w-[1214px]">
            <div class="flex items-center gap-6 !p-6 !pb-4">
                <div class="border-2 border-[var(--mud-palette-gray-dark)] rounded-full !p-[17.5px]">
                    <MudIcon Icon="@(!FileList!.Any() ? IconService.UploadIcon : IconService.QrIcon)" Class="!text-[35px]"/>
                </div>
                <div>
                    <MudText Class="text-[var(--mud-palette-text-primary)] !font-semibold !text-2xl">@(!FileList!.Any() ? "Upload Your Files" : "Scan QR Code")</MudText>
                    <MudText Class="text-[var(--mud-palette-text-secondary)] !font-medium !text-xl">
                        @if (!FileList?.Any() ?? true)
                        {
                            <span>Select and upload the files of your choice</span>
                        }
                        else
                        {
                            <span class="!text-[var(--mud-palette-background)]">By using the service you will receive </span>
                            <span class="!font-bold !text-[var(--mud-palette-background)]">$PAYL</span>
                        }
                    </MudText>
                </div>
            </div>
            <MudDivider Class="!border-[var(--mud-palette-gray-dark)]"/>
            <div class="!p-6">
                @if(FileList!.Any())
                {
                    <div class="flex items-center gap-2">
                        <div class="w-73 h-75">
                            <MudImage
                                src="/images/qr_sample.webp"
                                alt="sample qr"
                            />
                        </div>
                        <div class="w-[calc(100%-300px)] flex flex-col justify-between !gap-4">
                            <div class="w-full relative flex items-center gap-4 bg-[var(--mud-palette-gray-darker)] rounded-2xl !p-4">
                                <div>
                                    <MudIcon Icon="@IconService.ImageIcon" Class="!text-[64px]"/> 
                                </div>
                                <div>
                                    <MudText Class="!font-bold !text-2xl !text-[var(--mud-palette-text-primary)]">NFT PAYL KOYN PINKY PIE</MudText>
                                    <div class="flex items-center !gap-2">
                                        <MudText Class="!text-[var(--mud-palette-text-secondary)]">64 KB of 64 KB •</MudText>
                                        <div class="flex items-center gap-2">
                                            <MudIcon Icon="@IconService.LoadingIcon" Class="!text-base"/>
                                            <MudText Class="!text-[var(--mud-palette-text-primary)] !text-base !font-medium">Uploading...</MudText>
                                        </div>
                                    </div>
                                </div>
                                <MudIconButton Icon="@IconService.DeleteIcon" aria-label="delete" Class="absolute top-4 right-4 !p-0"/>
                            </div>
                            <MudText Class="!text-xl !font-medium !text-[var(--mud-palette-text-primary)]">Upload Address:</MudText>
                            <MudText Class="!text-sm !font-mono !text-[var(--mud-palette-text-primary)] break-all">@UploadAddress</MudText>
                            
                            <MudText Class="!text-xl !font-medium !text-[var(--mud-palette-text-primary)]">Estimated cost:</MudText>
                            <MudText Class="!text-xl">
                                <span class="!text-[var(--mud-palette-text-secondary)]">Total: </span>
                                <span class="!font-bold !text-[var(--mud-palette-text-primary)]">@($"2 ADA")</span>
                            </MudText>
                            
                            <MudButton 
                                Variant="Variant.Filled" 
                                Color="Color.Primary" 
                                OnClick="() => UploadFile(FileList.First())"
                                Disabled="@(FileList.First().Status == UploadStatus.Uploading)"
                                Class="!bg-[var(--mud-palette-secondary)] px-6 h-12 !rounded-full !font-semibold !text-[var(--mud-palette-primary)] !text-xl !capitalize !self-end hover:!bg-[var(--mud-palette-secondary-lighten)] active:!bg-[var(--mud-palette-secondary-darken)]">
                                @(FileList.First().Status switch 
                                {
                                    UploadStatus.Ready => "Upload File",
                                    UploadStatus.Uploading => "Uploading...",
                                    UploadStatus.Completed => "Upload Complete",
                                    UploadStatus.Error => "Upload Failed",
                                    _ => "Upload"
                                })
                            </MudButton>
                            
                            @if (!string.IsNullOrEmpty(FileList.First().Message))
                            {
                                <MudText Class="!text-sm !mt-2" Color="@(FileList.First().Status == UploadStatus.Error ? Color.Error : Color.Success)">
                                    @FileList.First().Message
                                </MudText>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <MudFileUpload
                        T="IReadOnlyList<IBrowserFile>"
                        Accept=".png, .jpg, .mp4, .mov"
                        AppendMultipleFiles
                        OnFilesChanged="OnInputFileChanged"
                        Hidden="@false"
                        InputClass="absolute w-full mud-width-full mud-height-full overflow-hidden z-10 !cursor-pointer"
                        Class="w-full"
                        InputStyle="opacity:0"
                    >
                        <ActivatorContent>
                            <MudPaper 
                                Height="308px"
                                Outlined="true"
                                Class="bg-[var(--mud-palette-primary)]! !border-2 !border-dashed !border-[var(--mud-palette-gray-dark)] flex flex-col items-center justify-center !gap-6"
                            >
                                <div>
                                    <MudIcon Icon="@IconService.UploadIcon" Class="!text-[46px]"/>
                                </div>
                                <div>
                                    <MudText Class="!text-[var(--mud-palette-text-primary)] !font-medium !text-2xl">Choose a file or drag & drop it here</MudText>
                                    <MudText Class="!text-[var(--mud-palette-text-secondary)] !font-medium !text-xl">JPEG, PNG, and MP4 formats, up to 50MB</MudText>
                                </div>
                                <div>
                                    <MudButton Class="w-[142px] h-12 !text-[var(--mud-palette-text-secondary)] !capitalize !text-xl !font-medium !rounded-2xl !border-2 !border-[var(--mud-palette-gray-dark)]">Browse File</MudButton>
                                </div>
                            </MudPaper>
                        </ActivatorContent>
                    </MudFileUpload>
                }
            </div>
        </div>
        <MudPaper 
            Elevation="0"
            Class="w-full  h-66 flex items-center justify-center !gap-12 !rounded-3xl !bg-[var(--mud-palette-gray-light)]/20 !p-6 overflow-hidden"
        >
        
        </MudPaper>
    </div>
</section>

<section class="lg:hidden container mx-auto flex items-center justify-center h-screen !px-4">
    <MudText Typo="Typo.h2" Class="text-[var(--mud-palette-primary)] !font-bold text-center!">Mobile Coming Soon...</MudText>
</section>